---
import BaseLayout from '../layouts/BaseLayout.astro';
import Hero from '../components/Hero.astro';
import HeroVideo from '../components/HeroVideo.astro';
import About from '../components/About.astro';
import LogosCarousel from '../components/LogosCarousel.astro';
import Demos from '../components/Demos.astro';
import Muestra from '../components/Muestra.astro';
import Work from '../components/Work.astro';
import Contact from '../components/Contact.astro';
---
<BaseLayout image="/share.png">
  <main style="overflow-x: hidden; max-width: 100%;">
    <Hero />
    <HeroVideo />
    <About />
    <LogosCarousel />
    <Demos />
    <Muestra />
    <Work />
    <Contact />
  </main>
</BaseLayout>
